# Dependencies
node_modules/
package-lock.json

# Environment variables and secrets
.env
.env.local
.env.*.local

# Data, logs, temps
data/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.temp/
.tmp/

# User-specific config
config/user.json

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?